<article class="sidebar">

        <h1 class="sidebar-title">Artwork on display</h1>

        <p class="sidebar-body">While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.</p>

        <div class="pixgrid clearfix">

            <% if (artwork.length > 0) { %>

                <% for (artPiece = 0; artPiece < artwork.length; artPiece++) { %>

                    <img src="/images/artwork/<%= artwork[artPiece] %>" alt="Artwork <%= artPiece %>">

                <% } %>

            <% } %>

        </div>

</article>